.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .main {
    padding: 1.5rem 0;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 2rem 0;
  }
}
